export(StationarityTimeSeries)
export(ARIMATimeSeries)
export(SpectralTimeSeries)
export(DescriptivesTimeSeries)
export(DescriptivesTimeSeriesInternal)
export(bayesianStateSpace)
export(bayesianStateSpaceInternal)
export(binomialStateSpace)
export(binomialStateSpaceInternal)
import(jaspBase)
useDynLib(jaspTimeSeries, .registration = TRUE)
importFrom(Rcpp,evalCpp)
importFrom(RcppParallel,RcppParallelLibs)
importFrom(jaspDescriptives,.plotMarginal)
importFrom(jaspDescriptives,.DescriptivesTimeSeries)
importFrom(jaspDescriptives,.tsReadData)
importFrom(jaspDescriptives,.tsErrorHandler)
importFrom(jaspDescriptives,.tsGuessInterval)
importFrom(jaspDescriptives,.tsDataFilterHandler)
importFrom(jaspDescriptives,.tsDataWithMissingRowsHandler)
importFrom(jaspDescriptives,.tsFillTimeSeriesPlot)
importFrom(jaspDescriptives,.tsFillACF)
